{% extends "base.html" %}

{% block content %}
<body>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="{{url_for('static', filename='images/IMG_20230411_141207~2.jpg')}}" alt="KIPTOO" width="80" class="about-img">
        </figure>

        <div class="info-content">
          <h1 class="name" title="KIPTOO">KIPTOO CALEB</h1>

          <p class="title">Software engineer</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:calebkiptoo9090@gmail.com" class="contact-link">calebkiptoo9090@gmail.com</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Phone</p>

              <a href="tel:+25470171495" class="contact-link">+254702171495</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Birthday</p>

              <time datetime="2002-09-02">September 02, 2002</time>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>Nairobi, Kenya</address>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

        <ul class="social-list">

          <li class="social-item">
            <a href="https://www.linkedin.com/in/kiptoo-caleb-aa1865204/?originalSubdomain=ke" class="social-link">
              <ion-icon name="logo-linkedIn"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://twitter.com/KiptooCaleb4" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://www.instagram.com/_actually_caleb/?hl=en" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://github.com/kiptoobarchok" class="social-link">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://api.whatsapp.com/send?phone=254702171495&text=Y" class="social-link">
              <ion-icon name="logo-WhatsApp"></ion-icon>
            </a>
          </li>


        </ul>

      </div>

    </aside>





    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link  active" data-nav-link>About</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Portfolio</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Blog</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Contact</button>
          </li>

        </ul>

      </nav>





      <!--
        - #ABOUT
      -->

      <article class="about  active" data-page="about">

        <header>
          <h2 class="h2 article-title">About me</h2>
        </header>

        <section class="about-text">
          <p>
            An ALX software engineering bootcamp graduate, empowered with the 
            latest skills and knowledge in the software engineering field. Passionate about creating software programs.
          </p>

          <p>
            As a highly motivated and detail-oriented Junior Software Engineer, 
            I bring a solid foundation in software engineering and a passion for creating efficient and adaptable software solutions.
            I have programming experience in Python, C , Shell and also Flask framework. I'm eager to contribute to creative projects that make use of my abilities. I'm enthusiastic about having an 
            opportunity to advance my career as a junior software engineer and work on innovative projects. With my dedication to quality 
            and my technical proficiency, I am sure that I will be a useful contribution.
          </p>
        </section>


        <!--
          - service
        -->

        <section class="service">

          <h3 class="h3 service-title">What i'm doing</h3>

          <ul class="service-list">

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{{url_for('static', filename='images/icon-design.svg')}}" alt="design icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web design</h4>

                <p class="service-item-text">
                  Create modern, user-friendly websites with a 
                  focus on clean design and responsive layouts using flask
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{{url_for('static', filename='images/icon-dev.svg')}}" alt="Web development icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web development</h4>

                <p class="service-item-text">
                  High-quality development of sites at the professional level.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{{url_for('static', filename='images/icon-app.svg')}}" alt="mobile app icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Mobile apps</h4>

                <p class="service-item-text">
                  Professional development of applications for iOS and Android using flutter.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{{url_for('static', filename='images/icon-photo.svg')}}" alt="camera icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Backend</h4>

                <p class="service-item-text">
                  Build robust and scalable server-side applications. I focus on API design, database integration, and performance optimization to deliver secure and efficient backend solutions.
                </p>
              </div>

            </li>
            <li class="service-item">

              <div class="service-icon-box">
                <img src="{{url_for('static', filename='images/opening-quote.png')}}" alt="camera icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Robotics & IoT</h4>

                <p class="service-item-text">
                  This is my next big venture together with machine learning and bot development
                </p>
              </div>

              <div class="service-icon-box">
                <img src="{{url_for('static', filename='images/closing-quote.png')}}" alt="camera icon" width="40">
              </div>

            </li>
          </ul>

        </section>


        <div class="modal-container" data-modal-container>

          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">

            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="./assets/images/avatar-1.png" alt="Daniel lewis" width="80" data-modal-img>
              </figure>

              <img src="./assets/images/icon-quote.svg" alt="quote icon">
            </div>

            <div class="modal-content">

              <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>

              <time datetime="2021-06-14">14 June, 2021</time>
            </div>

          </section>

        </div>


        <!--
          - clients
        -->

        <section class="clients">

          <h5 class="h3 clients-title">My Tech Stack</h5>

          <ul class="clients-list has-scrollbar">


            <li class="clients-item">
                <img src="{{url_for('static', filename='images/python_919852.png')}}" alt="python logo">
                <br>
                <small><span style="color: aqua;">.py</span></small>
            </li>

            <!-- <li class="clients-item"> 
                <img src="{{url_for('static', filename='/images/atomic_263465.png')}}" alt="SQL logo">
                <br>
                <span style="color: aqua;">React</span>
            </li> -->

            <li class="clients-item">
                <img src="{{url_for('static', filename='/images/js_5968292.png')}}" alt="client logo">
                <br>
                <small><span style="color: aqua;">.js</span></small>
            </li>

            <li class="clients-item">
                <img src="{{url_for('static', filename='/images/database_4248443.png')}}" alt="client logo">
                <br>
                <small><span style="color: aqua;">.sql</span></small>
            </li>

            <li class="clients-item">
                <img src="{{url_for('static', filename='/images/letter-c_5119021.png')}}" alt="client logo">
                <br>
                <small><span style="color: aqua;">.c</span></small>
            </li>

            <li class="clients-item">
                <img src="{{url_for('static', filename='./images/application_14982659.png')}}" alt="client logo">
                <br>
                <small><span style="color: aqua;">API</span></small>
            </li>

            <li class="clients-item">
                <img src="{{url_for('static', filename='./images/html-5_5968267.png')}}" alt="client logo">
                <br>
                <small><span style="color: aqua;">.html <br>.css</span></small>
            </li>
          </ul>

        </section>

      </article>





      <!--
        - #RESUME
      -->

      <article class="resume" data-page="resume">

        <header>
          <h2 class="h2 article-title">Resume</h2>
        </header>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">ALX Africa - (Holberton school)</h4>
              <span>2023 — 2025</span>

              <p class="timeline-text">
                Enrolled in ALX Africa bootcamp during this period for a certificate and training in being a fullstack software engineer
              </p>
              <br>

              <button onclick="window.location.href='{{ url_for('static', filename='files/Transcript - 67383 - Kiptoo Caleb.pdf') }}'" class="download-button">Active Transcript</button>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Kenyatta University</h4>

              <span>2020 — 2024</span>

              <p class="timeline-text">
               Attended Kenyatta University for a bachelors degree in Education -(Science) , specializing in Maths and physics
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Kabarnet High School</h4>

              <span>2016 — 2019</span>

              <p class="timeline-text">
                Attended Kabarnet High for a certificate in Secondary education during this period
                <br>
                <br>
                <button onclick="window.location.href='{{ url_for('static', filename='files/caleb_high_school_certificate.pdf') }}'" class="download-button">Results</button>

              </p>

            </li>

          </ol>

        </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="heart-outline"></ion-icon>
            </div>

            <h3 class="h3">Certifications</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">ALX Africa - Backend Software Engineering</h4>
              <span>Date of Issue : February, 2025</span>

              <br>
              <a href="https://drive.google.com/file/d/139JodiS_hGGq6vKCtap0-gpuiG3BBPHc/view" style="color: aqua;">View credential</a>
            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">ALX Africa - AI starter Kit certification</h4>
              <span>Date of Issue : * </span>

              <br>
              <a href="#" style="color: aqua;">View credential</a>
            </li>
            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">MongoDB - Geek for Geeks </h4>
              <span>Date of Issue : * </span>

              <br>
              <a href="#" style="color: aqua;">View credential</a>
            </li>
            
          </ol>

        </section>      
        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="battery-charging-outline"></ion-icon>
            </div>

            <h3 class="h3">Experience</h3>
          </div>

          <ol class="timeline-list">
            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">MAY National Software Developer Lead</h4>

              <span>17-Nov-2024 To Present</span>

              <p class="timeline-text">
                Currenly I'm working as a volunteer software engineer lead at Messianic assembly of Yahweh - Kenya. My work is to develop and maintain software programs while also collaborating with other team leaders in the ICT department.
              </p>
              <br>
              <a href="https://github.com/kiptoobarchok/MAY-kbrk" class="download-button">MAY Website</a>

            </li>
            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">DekHUT Hackathon</h4>

              <span>01-July-2024  to 07-July-2024</span>

              <p class="timeline-text">
                I had the chance to take part in a hackathon where, along with four other teammates,
                we created a creative Emergency Response Dashboard that won us the prize for Most Outstanding Solution per Theme.
                 I was able to apply crucial abilities like project management, UI/UX design, and full-stack development through this experience.
                 I was instrumental in leading the team and creating an intuitive 
                 interface, showcasing my capacity for teamwork, practical problem-solving.
              </p>
              <br>
              <a href="https://devpost.com/software/careconnect-61k7jb" class="download-button">Project on Devpost</a>
            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Software Engineer Attachee at Dukatech</h4>

              <span>June , 2024 — August 2</span>

              <p class="timeline-text">
                Doing an attachment for a fullstack Software Engineering course at Dukatech official , where i've had the opportunity to work in a team of like-minded individuals.
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Maths/Physics Tutor</h4>

              <span>May, 2022 — August, 2022</span>

              <p class="timeline-text">
               Had an opportunity to work as a tutor for mathematics and physics during this time Cheptenye High School and managed to incorporate myself with important skills such as time management, communication and leadership
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Hobby Programmer</h4>

              <span>2020 — present</span>

              <p class="timeline-text">
              personal projects, open source projects and coding challenges 
              </p>
              <br>

              <a href="https://drive.google.com/file/d/1WrJKbFY9FvImxG3USYE9Qt0e30JxLB3Z/view?usp=sharing" style="color: aqua;">View CV</a>

              <br>
              <button onclick="window.location.href='{{ url_for('static', filename='files/Workplace Insights - KIPTOO CALEB-Workplace-Insights.pdf') }}'" class="download-button">Workplace Insights</button>
              
            </li>

          </ol>

        </section>

        <section class="skill">

          <h3 class="h3 skills-title">My skills</h3>

          <ul class="skills-list content-card">

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Web design</h5>
                <data value="80">80%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 80%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">DevOps</h5>
                <data value="40">60%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 60%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Backend Development</h5>
                <data value="90">90%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 90%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">AI utilization</h5>
                <data value="50">80%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 80%;"></div>
              </div>

            </li>

          </ul>

        </section>

      </article>





      <!--
        - #PORTFOLIO
      -->

      <article class="portfolio" data-page="portfolio">

        <header>
          <h2 class="h2 article-title">Projects</h2>
        </header>

        <section class="projects">

          <ul class="filter-list">

            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <!-- <li class="filter-item">
              <button data-filter-btn>Frontend</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Backend</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>DevOps</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>API</button>
            </li> -->

            
          </ul>

          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <!-- <li class="select-item">
                <button data-select-item>Frontend</button>
              </li>

              <li class="select-item">
                <button data-select-item>Backend</button>
              </li>

              <li class="select-item">
                <button data-select-item>DevOps</button>
              </li>

              <li class="select-item">
                <button data-select-item>API</button>
              </li>
            </ul> -->

          </div>

          <ul class="project-list">

            <li class="project-item  active" data-filter-item data-category="Frontend">
              <a href="https://github.com/kiptoobarchok/AirBnB_clone">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="~/personal_website/application/static/images/mrc_F6wAalUd-bRVbdamS.png" alt="airbnb" loading="lazy">
                </figure>

                <h3 class="project-title">AirBnB Web Clone</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="https://github.com/kiptoobarchok/MAY-kbrk">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <!-- <img src="./assets/images/project-2.png" alt="orizon" loading="lazy"> -->
                </figure>

                <h3 class="project-title">MAY-kaborok Website</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

            </li>

            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="https://github.com/kiptoobarchok/post_app">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./images/weather.jpg" alt="weather-app" loading="lazy">
                </figure>

                <h3 class="project-title">simple Posts Web app</h3>

                <p class="project-category">Web applications</p>

              </a>
            </li>

            <!-- <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-7.png" alt="summary" loading="lazy">
                </figure>

                <h3 class="project-title">Summary</h3>

                <p class="project-category">Web development</p>

              </a>
            </li> -->

          </ul>

        </section>

      </article>





      <!--
        - #BLOG
      -->

      <article class="blog" data-page="blog">

        <header>
          <h2 class="h2 article-title">Personal Blogs</h2>
        </header>

        <section class="blog-posts">

          <ul class="blog-posts-list">

            <li class="blog-post-item">
              <a href="https://medium.com/@calebkiptoo9090/auratunes-15f7feb4ae1c">

                <figure class="blog-banner-box">
                  <!-- <img src="./images/web_player_blog.jpg" alt="headphones-african-american-woman-img" loading="lazy"> -->
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Web development</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">June, 2024</time>
                  </div>

                  <h3 class="h3 blog-item-title">music and life</h3>

                  <p class="blog-text">
                    AuraTunes: 
                    Music is now more than just background noise in the digital era; it's a tool for self-discovery,
                    an escape, and a conduit to emotions. Music has the capacity to significantly influence our lives.
                    That's why I've developed an audio app/website that offers something special, combining a mystical aura with 
                    connecting sound and a variety of life aspects.
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="https://medium.com/@calebkiptoo/getting-started-on-the-api-c7a7929479fd">

                <figure class="blog-banner-box">
                  <!-- <img src="./images/api.jpg" alt="api-infographic" loading="lazy"> -->
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">API</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">June, 2024</time>
                  </div>

                  <h3 class="h3 blog-item-title">API</h3>

                  <p class="blog-text">
                    In today's interconnected digital landscape, APIs have become the backbone 
                    of seamless communication between diverse software systems. Understanding APIs is essential whether you're creating 
                    a web application, integrating third-party services, or just trying to learn more about programming. This blog provides
                    simple explanations, doable stages, and suggested resources to help you become proficient in the fundamentals and begin 
                    utilizing APIs for your projects. Take a look and see how APIs may change your development process!
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="https://medium.com/@calebkiptoo/google-com-behind-the-scenes-b3a9b1d9e0cf">

                <figure class="blog-banner-box">
                  <!-- <img src="./assets/images/dynamic-website-hosting-concept.jpg" alt="headphones-african-american-woman-img" loading="lazy"> -->
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Internet</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">July, 2024</time>
                  </div>

                  <h3 class="h3 blog-item-title">[google.com] behind the scenes</h3>

                  <p class="blog-text">
                    A delve into what really happens behind the scenes when you enter google.com on your browser.
                  </p>

                </div>

              </a>
            </li>


          <li class="blog-post-item">
            <a href="https://www.linkedin.com/pulse/tcpip-protocol-kiptoo-caleb-wijmf/">

              <figure class="blog-banner-box">
                <!-- <img src="/assets/images/technology-background-texture.jpg" alt="headphones-african-american-woman-img" loading="lazy"> -->
              </figure>

              <div class="blog-content">

                <div class="blog-meta">
                  <p class="blog-category">Internet</p>

                  <span class="dot"></span>

                  <time datetime="2022-02-23">August, 2024</time>
                </div>

                <h3 class="h3 blog-item-title">TCP/Internet Protocol</h3>

                <p class="blog-text">
                A deeper look into the Transfer control Protocol/Internet Protocol that we came across when learning what happens when a user types google.com and presses enter.
                </p>

              </div>

            </a>
          </li>
          <li class="blog-post-item">
            <a href="https://medium.com/@calebkiptoo/project-may-development-7a58f1fa4614">

              <figure class="blog-banner-box">
                <!-- <img src="/assets/images/technology-background-texture.jpg" alt="headphones-african-american-woman-img" loading="lazy"> -->
              </figure>

              <div class="blog-content">

                <div class="blog-meta">
                  <p class="blog-category">Fullstack</p>

                  <span class="dot"></span>

                  <time datetime="2022-02-23">December, 2024</time>
                </div>

                <h3 class="h3 blog-item-title">Design, develop , deploy</h3>

                <p class="blog-text">
                  As part of my ALX bootcamp experience, I created a dynamic church website that tackled practical issues including effective announcements and simplified lesson accessibility. The project includes a centralized announcements platform, a lesson database for convenient downloads, and full-stack functionality driven by AWS, Flask, and SQLite servers. Using agile approaches, I produced a secure , scalable solution.
                </p>

              </div>

            </a>
          </li>
          </ul>

        </section>

      </article>





      <!--
        - #CONTACT
      -->

      <article class="contact" data-page="contact">

        <header>
          <h2 class="h2 article-title">Contact</h2>
        </header>

        <section class="contact-form">

          <h3 class="h3 form-title">Contact Form</h3>

          <form action="http://127.0.0.1:5000/send-email" class="form" disable data-form method="POST" >
            <div class="input-wrapper">
              <input type="text" name="fullname" class="form-input" placeholder="Full name" required data-form-input>

              <input type="email" name="email" class="form-input" placeholder="Email address" required data-form-input>
            </div>

            <textarea name="message" class="form-input" placeholder="Your Message" required data-form-input></textarea>

            <button class="form-btn" type="submit" data-form-btn>
              <ion-icon name="paper-plane"></ion-icon>
              <span>Send Message</span>
            </button>

          </form>
          
        </section>
        <section>
          <div class="parent-container">
            <div id="buy-me-coffee-section">
            <a href="#" class="buy-coffee">
                <img src="{{url_for('static', filename='/images/coffee-cup_1047462.png')}}" alt="Coffee Icon">
                <br>
                <span>Buy Coffee</span>
            </a>
            </div>
          </div>
          
        
        </section>
        

      </article>

    </div>

  </main>
</body>
{% endblock content %}